@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #fdfbf7; /* off-white */
  color: #1e1e1e; /* soft-black */
  font-family: 'Inter', system-ui, sans-serif;
}
